<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


<!--include the material/ colors macro-->
  <xacro:include filename="$(find description_beerpong)/urdf/materials.urdf.xacro" />


<!--build the gripper links and joints using a macro, which will be called in the diy_gripper_model.urdf.xacro while launching-->
  <xacro:macro name="gripper_camera" params="tf_prefix parent origin_xyz origin_rpy"> 
    <xacro:materials tf_prefix="${tf_prefix}"/>
    
    <joint name="${tf_prefix}gripper_to_parent" type="fixed">
        <parent link="${parent}"/>
        <child link="${tf_prefix}camera_mount_link"/>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    </joint>


<!-- Camera Mount-->    
    <link name="${tf_prefix}camera_mount_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/visual/Kamera_Mount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}grey" />
      </visual>
    
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/collision/Kamera_Mount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}red" />
      </collision>
    </link>

<!-- Gripper + Finger + Adapter-Plate-->   
    <joint name="${tf_prefix}gripper_joint" type="fixed">
    <!-- Position zueinander wird in den joints angepasst (nicht in links)-->   
      <origin xyz="0 0 0.0245" rpy="1.57075 0 3.1415" />
      <parent link="${tf_prefix}camera_mount_link" />
      <child link="${tf_prefix}gripper_link" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${tf_prefix}gripper_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/visual/greifer_beerpong_baugruppe_aussen_greifen.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}grey" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/collision/greifer_beerpong_baugruppe_aussen_greifen.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}red" />
      </collision>
    </link>

<!-- Realsense-Camera -->   
    <joint name="${tf_prefix}camera_joint" type="fixed">
      <origin xyz="0 0.098 0.074" rpy="0 0 3.1415" />
      <parent link="${tf_prefix}camera_mount_link" />
      <child link="${tf_prefix}camera_link" />
      <axis xyz="0 0 1" />
    </joint>

    <!-- <xacro:arg name="use_nominal_extrinsics" default="false" />
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

    <xacro:sensor_d415 parent="camera_mount_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
      <origin xyz="0 0.098 0.074" rpy="0 0 0"/>
    </xacro:sensor_d415> -->

    <link name="${tf_prefix}camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/visual/realsense415.stl" scale="1 1 1"/>
        </geometry>
        <material name="${tf_prefix}grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/collision/realsense415.stl" scale="1 1 1"/>
        </geometry>
        <material name="${tf_prefix}red" />
      </collision> 
    </link> 

    <!-- <link name="${tf_prefix}camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/visual/realsense415.stl" scale="1 1 1"/>
        </geometry>
        <material name="${tf_prefix}grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description_beerpong/meshes/collision/realsense415.stl"  scale="1 1 1"/>
        </geometry>
        <material name="${tf_prefix}red" />
      </collision>
    </link> -->


    <!--add a TCP Link for convenience, show TCP reference set in rviz-->
    <joint name="${tf_prefix}tcp_joint" type="fixed"> 
        <origin xyz="0 0.139 0" rpy="1.57075 0 3.1415"/>
        <parent link="${tf_prefix}gripper_link"/>
        <child link="${tf_prefix}tcp_link"/>    
    </joint>

    <link name="${tf_prefix}tcp_link"/>

  </xacro:macro>

</robot>