<?xml version="1.0"?>
<!--
Copied from ROS1 example:
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/materials.xacro
-->

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="materials" params="prefix">

    <material name="${prefix}black">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="${prefix}blue">
      <color rgba="0.0 0.0 0.8 1.0"/>
    </material>

    <material name="${prefix}green">
      <color rgba="0.0 0.8 0.0 1.0"/>
    </material>

    <material name="${prefix}yellow">
      <color rgba="1.0 1.0 0.0 1.0"/>
    </material>

    <material name="${prefix}grey">
      <color rgba="0.6 0.6 0.6 1.0"/>
    </material>

    <material name="${prefix}orange">
      <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
    </material>

    <material name="${prefix}brown">
      <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
    </material>

    <material name="${prefix}red">
      <color rgba="0.8 0.0 0.0 1.0"/>
    </material>

    <material name="${prefix}white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

  </xacro:macro>

</robot>

